<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.svg">
    <title>TM-5351 Data Codex</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap" rel="stylesheet">
    <meta property="og:title" content="TM-5351 Data Codex" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tm5351-codex.netlify.app/" />
    <meta property="og:image" content="<%= BASE_URL %>favicon.svg" />
    <meta property="og:description" content="Establishing Tau-link connection..." />
    <meta name="theme-color" content="#5AD6FF">
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but TM-5351 Data Codex doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
