<template>
  <button @click="stopped = !stopped" :aria-pressed="stopped" :title="buttonLabel">{{ buttonLabel }}</button>
  <audio :src="boot" autoplay :muted="stopped" ref="player" />
</template>

<script>
import { ref, watch, onMounted, computed } from 'vue'
import boot from '../assets/boot.mp3'

export default {
  emits: ['ended'],
  setup(props, { emit }) {
    const stopKey = 'STOPPED_BOOT_AUDIO';
    const stopped = ref(localStorage.getItem(stopKey) === 'true');
    const player = ref(null);
    const buttonLabel = computed(() => stopped.value ? 'Unmute Boot Audio' : 'Mute Boot Audio');

    watch(stopped, newStopped => {
      localStorage.setItem(stopKey, newStopped);
    });

    onMounted(() => {
      player.value.addEventListener('ended', () => {
        emit('ended');
      });
    });

    return {
      buttonLabel,
      stopped,
      boot,
      player
    }
  }
}
</script>

<style scoped lang="scss">
button {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  opacity: 0.4;
  overflow: hidden;
  white-space: nowrap;
  text-indent: -99999px;
  border: none;
  color: white;
  border-radius: 0;
  transition-property: color, opacity, box-shadow;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  filter: drop-shadow(var(--glow));

  &[aria-pressed="false"] {
    --bar: 3px solid currentColor;
    border-left: var(--bar);
    border-right: var(--bar);
    width: 0.75rem;
    height: 1rem;
    box-shadow: none;
  }

  &[aria-pressed="true"] {
    width: 0;
    height: 0;
    border: 0.5rem solid transparent;
    border-right: none;
    border-left-color: currentColor;
    border-left-width: 1rem;
  }

  &:hover,
  &:focus-visible {
    opacity: 1;
    color: var(--trim-color);
    background-color: transparent;
    box-shadow: none;
  }
}
</style>