<template>
  <div class="clock-wrapper">
    <div class="clock">
      <EditTime
        v-model="value"
        label="When the loop time is"
        id="clock-form"
      />
      <p>it will be <strong>{{ readableTime }}</strong>.</p>
    </div>

    <div class="long-rest">
      <EditTime
        v-model="longRest.time"
        label="The last long rest was at"
        id="long-rest-form"
      />
      <p>
        that's
        <strong>
          {{ timeSinceLongRestAbs }}
          <span v-if="timeSinceLongRestAbs === 1">hour </span>
          <span v-else>hours </span>
          <span v-if="timeSinceLongRest >= 0">before </span>
          <span v-else>after </span>
        </strong>
        the time above.
      </p>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import EditTime from './EditTime'
import { present, getTimelineTimeOfDay, getTimelineDay, longRest } from '../data/timeline'
import displayTime from '../util/display-time'

export default {
  components: {
    EditTime
  },
  setup() {
    const value = ref(present.value.time)

    const readableTime = computed(() => `${displayTime(getTimelineTimeOfDay(value.value))}, Day ${getTimelineDay(value.value)}`)
    const timeSinceLongRest = computed(() => value.value - longRest.value.time)
    const timeSinceLongRestAbs = computed(() => Math.abs(timeSinceLongRest.value))

    return {
      value,
      readableTime,
      longRest,
      timeSinceLongRest,
      timeSinceLongRestAbs
    }
  }
}
</script>

<style lang="scss">
.clock-wrapper {
  flex-grow: 1;

  .edit-time {
    &__field {
      font-weight: bold;
    }

    label {
      font-weight: normal;
    }

    input {
      text-shadow: var(--glow);
      font-weight: inherit;
    }
  }
}

.clock {
  font-size: 2rem;

  .edit-time {
    &__field {
      @media (min-width: 768px) {
        font-size: 5rem;
      }
    }
  }
}

.long-rest {
  font-size: 1.25rem;

  p {
    margin: 0;
  }
}
</style>