<template>
  <form @submit.prevent="handleSubmit" class="edit-time">
    <label :for="id">{{ label }}</label>
    <div class="edit-time__field">
      <span>D</span>
      <input
        :value="modelValue"
        type="number"
        max="0"
        :min="-1 * timelineLength"
        :id="id"
        :style="{
          '--width': width
        }"
        @input="handleInput"
        ref="input"
      />
      <span>Hours</span>
    </div>
  </form>
</template>

<script>
import { watch, computed, ref } from 'vue'
import { timelineLength } from '../data/timeline'

export default {
  props: {
    modelValue: Number,
    label: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    }
  },
  setup(props, { emit }) {
    const input = ref(null);
    const width = computed(() => Math.min(2, props.modelValue.toString().length))

    watch(props.modelValue, (newTime, oldTime) => {
      if (!newTime && newTime !== 0) emit('update:modelValue', oldTime);
      else if (newTime >= 0) emit('update:modelValue', -0);
      else if (newTime < -1 * timelineLength.value) emit('update:modelValue', timelineLength.value * -1);
    })

    const handleInput = ($event) => {
      emit('update:modelValue', Number($event.target.value))
    }

    return {
      input,
      width,
      timelineLength,
      handleInput
    }
  }
}
</script>

<style scoped lang="scss">
.edit-time {
  label {
    font-weight: bold;
  }

  &__field {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input {
    background-color: transparent;
    width: calc(var(--width) * 1.5em);
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin-right: 0.25em;
    -moz-apperance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
    }
  }
}
</style>