<template>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1xo5zBjzjbjvzNJIKhsjm2?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
</template>

<style scoped lang="scss">
iframe {
  flex-grow: 1;
  width: 90%;
  max-width: 700px;
  background-color: rgba(#5AD6FF, 0.4);
  box-shadow: var(--glow);
  border: 2px solid var(--cyber-color);
  opacity: 0;
  animation: fade-in var(--animation-interval) forwards;
  min-height: 380px;
}
</style>