<template>
  <ul class="navigation">
    <li v-for="view in viewList" :key="view">
      <button
        @click="handleClick(view)"
        :class="{
          active: isCurrentView(view, modelValue)
        }"
      >{{ view.label }}</button>
    </li>
  </ul>
</template>

<script>
import { computed } from 'vue'
import { isCurrentView } from '../data/views'

export default {
  props: {
    modelValue: Object,
    views: {
      type: Object,
      required: true
    }
  },
  setup(props, { emit }) {
    const handleClick = view => {
      emit('update:modelValue', view)
    }

    const viewList = computed(() => Object.values(props.views).filter(view => {
      return view.nav !== false
    }))

    return {
      viewList,
      handleClick,
      isCurrentView
    }
  }
}
</script>

<style scoped lang="scss">
.navigation {
  padding: 0;
  list-style: none;
  display: flex;
  margin-bottom: 3rem;
  gap: 0.5rem 1rem;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 768px) {
    gap: 0.5rem 2rem;
  }
}
</style>