<template>
  <Navigation :views="navTypes" v-model="currentType" />
  <form @submit.prevent class="search-form">
    <label for="search">Search</label>
    <input type="text" v-model.trim="search" id="search" placeholder="Search">
  </form>

  <ul class="notes" ref="list">
    <li v-for="note in filteredNotes" :key="note.name" ref="elements" :hidden="note.hidden">
      <Note v-bind="note" />
    </li>
  </ul>
  <div v-if="!hasResults" class="no-results">
    <p><strong>No results.</strong></p>
  </div>
  <button v-if="search" @click="search = ''">Clear Search</button>
</template>

<script>
import { ref, computed, onMounted, onUnmounted, nextTick, watch } from 'vue'
import Fuse from 'fuse.js';
import notes, { types, normalizeName } from '../data/notes'
import createScrollFade from '../util/scroll-fade'
import toAnchor from '../util/anchors'
import Navigation from './Navigation'
import Note from './Note'

export default {
  components: {
    Navigation,
    Note
  },
  setup() {
    const search = ref('');
    const elements = ref(null);
    const list = ref(null);
    const isScrolling = ref(false)
    const active = createScrollFade(elements);
    const navTypes = computed(() => {
      return { ALL: { name: 'all', 'label': 'All' }, ...types.value }
    })
    const currentType = ref(navTypes.value.ALL)
    const filteredNotes = computed(() => {
      const sorted = [...notes.value].sort((a, b) => {
        return normalizeName(a.name).localeCompare(normalizeName(b.name))
      });
      let searchNotes = [];
      if (search.value) {
        const options = {
          includeScore: false,
          shouldSort: false,
          ignoreLocation: true,
          threshold: 0.2,
          keys: [
            'name',
            'notes',
            'subTypes',
            'additionalNames',
            'type.label'
          ]
        }
        const fuse = new Fuse(sorted, options);
        searchNotes = fuse.search(search.value).map(item => item.item)
      }
      return sorted.map((note, index) => {
        let hidden = (currentType.value.name !== navTypes.value.ALL.name && note.type.name !== currentType.value.name) || !!(search.value && !searchNotes.find(search => search.name === note.name));
        return {
          ...note,
          active: active.value[index],
          hidden
        }
      });
    });

    const hasResults = computed(() => filteredNotes.value.filter(note => !note.hidden).length > 0);

    const handleHashChange = () => {
      const anchor = location.hash.replace('#', '');
      if (!filteredNotes.value.find(note => !note.hidden && toAnchor(note.name) === anchor)) {
        currentType.value = navTypes.value.ALL;
        search.value = '';
        isScrolling.value = true
        nextTick(() => {
          document.getElementById(anchor)?.scrollIntoView(true);

          nextTick(() => isScrolling.value = false)
        })
      }
    }

    watch(currentType, () => {
      nextTick(() => {
        if (!isScrolling.value) list.value.scrollIntoView(true)
      });
    });

    onMounted(() => {
      window.addEventListener('hashchange', handleHashChange)
    })

    onUnmounted(() => {
      window.removeEventListener('hashchange', handleHashChange)
    })

    return {
      list,
      elements,
      currentType,
      filteredNotes,
      navTypes,
      search,
      hasResults
    }
  }
}
</script>

<style scoped lang="scss">
.notes {
  --note-offset: translateX(10%);

  width: 90%;
  max-width: 700px;
  padding: 0;
  list-style: none;

  > :nth-child(odd) {
    --note-offset: translateX(-10%);
  }
}

.navigation,
.search-form {
  opacity: 0;
  animation: fade-in var(--animation-interval) forwards;
}

.navigation {
  position: sticky;
  top: 0;
  padding: 1rem 0;
  margin-bottom: 2rem;
  z-index: 100;
  animation-delay: calc(var(--animation-interval) * 0.5);
}

.search-form {
  max-width: 300px;
  width: 90%;
  animation-delay: calc(var(--animation-interval) * 1);

  input {
    border-radius: 4px;
    background-color: transparent;
    border: 3px solid var(--cyber-color);
    color: var(--cyber-color);
    font-family: inherit;
    padding: 0.5rem;
    text-shadow: inherit;
    box-shadow: var(--glow);
    outline: none;
    width: 100%;
    transition: 0.2s;

    &:focus {
      border-color: white;
    }

    &::placeholder {
      color: var(--cyber-color);
      text-shadow: inherit;
      opacity: 0.8;
    }
  }

  label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
</style>