<template>
  <div :class="classes" :id="id">
    <div class="note__header">
      <img v-if="image"
        class="note__image"
        :src="image"
        alt=""
        loading="lazy"
        height="90"
        width="90" />
      <div>
        <h2>{{ name }}</h2>
        <p class="note__type">{{ typeLabel }}</p>
      </div>
    </div>
    <ul v-if="notes.length > 0">
      <li v-for="note, index in notes" :key="`${name}-${index}`">
        <TextWithTooltips :text="note" :anchors="true" />
      </li>
    </ul>
  </div>
</template>

<script>
import { computed } from 'vue'
import toAnchor from '../util/anchors'
import TextWithTooltips from './TextWithTooltips'

export default {
  components: {
    TextWithTooltips
  },
  props: {
    name: String,
    type: Object,
    image: String,
    active: Boolean,
    complete: Boolean,
    subTypes: {
      type: Array,
      default() {
        return []
      }
    },
    notes: {
      type: Array,
      default() {
        return []
      }
    }
  },
  setup(props) {
    const classes = computed(() => {
      return {
        'note': true,
        'note--active': props.active,
        'note--complete': props.complete
      }
    })
    const id = computed(() => toAnchor(props.name))

    const typeLabel = computed(() => {
      if (!props.subTypes.length > 0) return props.type.label;
      return `${props.type.label} — ${props.subTypes.join(', ')}`;
    });

    return {
      typeLabel,
      classes,
      id
    }
  }
}
</script>

<style scoped lang="scss">
.note {
  $block: &;

  --border: 1px solid #{rgba(white, 0.2)};
  --item-glow: var(--glow);

  opacity: 0;
  filter: blur(5px);
  transform: var(--note-offset);
  transition: var(--animation-interval);
  padding: 1em;
  background-color: rgba(#5AD6FF, 0.1);
  border-radius: 4px;
  border: var(--border);
  box-shadow: var(--item-glow);
  text-align: left;
  margin: 2em 0;

  &:target {
    --link-hover-color: var(--cyber-color);

    color: var(--fur-color);
    background-color: rgba(#dc974d, 0.1);
  }

  &--active {
    opacity: 1;
    filter: none;
    transform: none;

    &#{$block}--complete {
      &:not(:hover) {
        opacity: 0.5;
      }
    }
  }

  &__header {
    font-weight: bold;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      border-bottom: var(--border);
      padding-bottom: 1em;
      margin-bottom: 1em;
    }

    * {
      margin: 0;
    }

    img {
      width: 90px;
      height: 90px;
      max-width: 100%;
      border-radius: 100px;
      border: var(--border);
      box-shadow: var(--glow);
      object-fit: cover;
      object-position: center;
      margin-right: 2em;

      @supports (aspect-ratio: 1 / 1) {
        aspect-ratio: 1 / 1;
        height: auto;
      }
    }
  }

  > ul {
    padding-left: 0;
    list-style: none;

    > li {
      + li {
        margin-top: 0.75em;
      }
    }
  }
}
</style>