<template>
  <div class="startup"
    ref="el"
    :style="{
      '--longest-line': longestLine
    }"
  >
    <p v-for="line, index in mappedLines"
      :key="index"
      :class="{
        'line': true,
        'error': line.isError
      }"
      :aria-label="line.fullLine"
    >{{ line.line }}</p>
  </div>
</template>

<script>
import { ref, computed, onMounted, watch } from 'vue';
import text from '../data/startup-text.js';

export default {
  setup(props, { emit }) {
    const el = ref(null);
    const typeSpeed = 20;
    const returnSpeed = 600;
    const splitText = text.split('\n').map(line => line.trim()).filter(line => !!line);
    const lines = ref([]);
    const longestLine = [...splitText].sort((a, b) => b.length - a.length)[0].length;
    const mappedLines = computed(() => lines.value.map((line, index) => {
      const fullLine = splitText[index];
      return {
        line,
        fullLine,
        isError: fullLine.startsWith('ERROR')
      }
    }));

    onMounted(() => {
      const pushLine = index => {
        const currentLine = [];
        const line = splitText[index];
        const addNextCharacter = () => {
          currentLine.push(line.charAt(currentLine.length));
          lines.value[index] = currentLine.join('');
          if (currentLine.length !== line.length) {
            setTimeout(addNextCharacter, typeSpeed);
          } else {
            if (index < splitText.length - 1) {
              setTimeout(() => pushLine(index + 1), returnSpeed + (Math.random() * (returnSpeed / 1.5) * (Math.random() > 0.5 ? -1 : 1)));
            } else {
              setTimeout(() => emit('end'), returnSpeed * 6);
            }
          }
        };
        addNextCharacter();
      };

      pushLine(0);
    });

    watch(() => [...lines.value], () => {
      el.value.scrollIntoView(false)
    });

    return {
      el,
      mappedLines,
      lines,
      longestLine
    }
  }
}
</script>

<style scoped lang="scss">
@keyframes blink {
  to {
    visibility: hidden;
  }
}

.startup {
  width: calc(var(--longest-line) * 1.25ex);
  max-width: 100%;
  text-align: left;
}

.line {
  &:last-child {
    &::after {
      content: '';
      display: inline-block;
      height: 1em;
      width: 1ex;
      vertical-align: middle;
      background-color: currentColor;
      box-shadow: var(--glow);
      animation: blink 0.5s steps(2, start) infinite;
    }
  }

  &.error {
    color: var(--shirt-color);
  }
}
</style>