<template>
  <span>
    <span v-for="token, index in tokens" :key="`${id}-${index}`">
      <Tooltip v-if="token.isTooltip && !anchors"
        :name="token.name"
        :text="token.text"
        :id="`${id}-${index}`"
        :ignore="[...ignore, token.name]"
        @tooltip-state="handleTooltipState"
      />
      <a :href="`#${token.anchor}`" v-else-if="token.anchor && anchors">{{ token.text }}</a>
      <template v-else>{{ token.text }}</template>
    </span>
  </span>
</template>

<script>
import { computed } from 'vue'
import Tooltip from './Tooltip'
import { getNote, types } from '../data/notes'
import toAnchor from '../util/anchors'

export default {
  props: {
    text: String,
    id: String,
    anchors: Boolean,
    ignore: {
      type: Array,
      default() {
        return []
      }
    }
  },
  components: {
    Tooltip
  },
  setup(props, { emit }) {
    const ignoreList = computed(() => {
      return props.ignore?.map(note => getNote(note).name) || []
    });
    const tokens = computed(() => {
      const tokens = [];
      let index = 0;
      let currentToken = '';
      let isTooltip = false;
      while (index < props.text.length) {
        const char = props.text.charAt(index);
        if (char === ']' || char === '[') {
          if (currentToken) {
            let anchor = '';
            let name = currentToken;
            if (isTooltip) {
              const tokenSplit = currentToken.split('|');
              name = tokenSplit[0];
              const tokenNote = getNote(name);
              if (tokenNote.type.name !== types.value.INVALID.name) anchor = toAnchor(tokenNote.name);
              isTooltip = !ignoreList.value.includes(tokenNote.name);
              currentToken = tokenSplit[tokenSplit.length - 1];
            }
            tokens.push({
              anchor,
              name,
              text: currentToken,
              isTooltip
            });
            currentToken = '';
          }
          isTooltip = char === '[';
        } else {
          currentToken += char;
        }
        index++;
      }
      if (currentToken) {
        tokens.push({
          text: currentToken,
          isTooltip
        });
        currentToken = '';
      }
      return tokens;
    });

    const handleTooltipState = (name, active) => emit('tooltip-state', name, active);

    return {
      handleTooltipState,
      tokens
    }
  }
}
</script>