<template>
  <details :class="classes" v-if="events?.length > 0">
    <summary class="timeline-item__header">
      <strong>{{ displayTimeCode }}</strong>
      <span v-if="timeOfDay" :title="timeOfDay.title">{{ timeOfDay.text }}</span>
      <Tooltip
        :name="location"
        :text="location"
        v-if="location"
        :id="`location-${id}`"
        @tooltip-state="handleTooltipState"
      />
      <span v-if="present">You Are Here</span>
      <span v-else-if="longRest">Last Long Rest</span>
    </summary>
    <ul class="timeline-item__events" v-if="events?.length > 0">
      <li v-for="event, index in events" :key="`event-${index}`">
        <TextWithTooltips
          :text="event"
          :id="`${id}-${index}`"
          @tooltip-state="handleTooltipState"
        />
      </li>
    </ul>
  </details>
  <div :class="classes" v-else>
    <div class="timeline-item__header">
      <strong>{{ displayTimeCode }}</strong>
      <span v-if="timeOfDay" :title="timeOfDay.title">{{ timeOfDay.text }}</span>
      <Tooltip
        :name="location"
        v-if="location" :id="`location-${id}`"
        @tooltip-state="handleTooltipState"
      />
      <span v-if="present">You Are Here</span>
      <span v-else-if="longRest">Last Long Rest</span>
    </div>
  </div>
</template>

<script>
import { ref, computed } from 'vue'
import TextWithTooltips from './TextWithTooltips'
import Tooltip from './Tooltip'
import getTimeOfDay from '../util/time-of-day'
import displayTime from '../util/display-time'
import { getTimelineTimeOfDay, getTimelineDay } from '../data/timeline'

export default {
  props: {
    time: [Number, String],
    location: String,
    events: Array,
    id: String,
    active: Boolean,
    present: Boolean,
    longRest: Boolean
  },
  components: {
    Tooltip,
    TextWithTooltips
  },
  setup(props) {
    const activeTooltips = ref({});
    const handleTooltipState = (name, newState) => {
      activeTooltips.value[name] = newState;
    };
    const tooltipsActive = computed(() => Object.values(activeTooltips.value).filter(value => value).length > 0);
    const displayTimeCode = computed(() => {
      if (typeof props.time === 'number') {
        return `D${props.time === 0 ? '-0' : props.time} Hours`;
      }
      return props.time;
    });
    const classes = computed(() => {
      return {
        'timeline-item': true,
        'timeline-item--has-events': props.events?.length > 0,
        'timeline-item--active': props.active || tooltipsActive.value,
        'timeline-item--present': props.present,
        'timeline-item--long-rest': props.longRest,
        'timeline-item--danger': props.time >= 0
      }
    });
    const timeOfDay = computed(() => {
      if (typeof props.time !== 'number') return false;
      const day = getTimelineDay(props.time);
      const timeOfDay = getTimelineTimeOfDay(props.time);
      return {
        text: `Day ${day}, ${getTimeOfDay(timeOfDay).replace(/\w\S*/g, (w) => (w.replace(/^\w/, (c) => c.toUpperCase())))}`,
        title: displayTime(timeOfDay)
      }
    });

    return {
      handleTooltipState,
      classes,
      displayTimeCode,
      displayTime,
      timeOfDay
    }
  }
}
</script>

<style scoped lang="scss">
.timeline-item {
  $block: &;

  --border: 1px solid #{rgba(white, 0.2)};
  --item-glow: var(--glow);

  opacity: 0;
  filter: blur(5px);
  transform: var(--timeline-initial-transform);
  transition: var(--animation-interval);
  padding: var(--timeline-item-padding);
  background-color: rgba(#5AD6FF, 0.1);
  border-radius: 4px;
  border: var(--border);
  box-shadow: var(--item-glow);

  &--active {
    opacity: 1;
    filter: none;
    transform: none;

    #{$block}__header {
      &::before,
      &::after {
        transform: none;
        transition-property: all, transform;
      }

      &::after {
        transition-delay: 0s, calc(var(--animation-interval) * 2);
      }

      &::before {
        transition-delay: 0s, var(--animation-interval);
      }
    }

    &[open],
    &#{$block}--has-events:hover {
      --item-glow: 0 0 0.75rem 0.125rem currentColor;

      border-color: rgba(white, 0.6);

      #{$block}__header {
        &::after,
        &::before {
          background-color: white;
        }
      }
    }
  }

  &--present,
  &--long-rest {
    color: var(--fur-color);
    background-color: rgba(#dc974d, 0.1);
  }

  &--danger {
    --tooltip-background-color: var(--shirt-color);
    color: var(--shirt-color);
    background-color: rgba(#DC504D, 0.1);
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      position: relative;

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: var(--connector-left);
        right: var(--connector-right);
        top: 0;
        bottom: 0;
        margin: auto;
        transition: var(--animation-interval);
        box-shadow: var(--item-glow);
      }

      &::before {
        border-top: var(--border);
        width: var(--timeline-gap);
        transform: scaleX(0);
        height: 0;
        transform-origin: var(--connector-origin);
      }

      &::after {
        --size: 1rem;

        border: var(--border);
        margin: auto calc(var(--timeline-gap) + var(--timeline-line-width) / 2 - var(--size) / 2 - 1px);
        border-radius: 1000px;
        background-color: currentColor;
        width: var(--size);
        height: var(--size);
        transform: scale(0);
      }
    }

    > * {
      display: block;
    }
  }

  summary {
    cursor: pointer;
    list-style: none;

    > .tooltip {
      margin-top: 0.25em;
    }
  }

  &__events {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 1em;
    font-size: 0.8em;
    padding-top: 1.5em;
    border-top: var(--border);

    > li {
      + li {
        margin-top: 0.5em;
        padding-top: 1em;
      }
    }
  }
}
</style>