<template>
<div class="timeline" :style="{
  '--items': sortedItems.length
}">
  <h2>Loop <code>{{ loopNumber }}</code></h2>
  <ul class="timeline__list">
    <li v-for="item, index in sortedItems"
      :key="item.id" :style="{
      '--index': index,
      '--gap': item.gap
    }"
    ref="elements"
    >
      <TimelineItem v-bind="item" />
    </li>
  </ul>
</div>
</template>

<script>
import { ref, computed } from 'vue'
import timeline, { loopNumber } from '../data/timeline'
import createScrollFade from '../util/scroll-fade'
import TimelineItem from './TimelineItem'

export default {
  components: {
    TimelineItem
  },
  setup() {
    const elements = ref(null);
    const active = createScrollFade(elements);
    const mappedItems = computed(() => timeline.value.map((item) => {
      return {
        sorting: 0,
        ...item
      };
    }));

    const sortedItems = computed(() => {
      const sorted = [...mappedItems.value].sort((a, b) => {
        if (a.sorting === b.sorting) return a.time - b.time;
        return a.sorting - b.sorting;
      });
      let timeDifferences = 0;
      const totalDifference = sorted.reduce((prev, current, index) => {
        const currentTime = current.time;
        const nextTime = sorted[index + 1]?.time;
        if (!isNaN(currentTime) && !isNaN(nextTime)) {
          timeDifferences++;
          return prev += currentTime - nextTime;
        }
        return prev;
      }, 0);
      const averageDifference = Math.abs(totalDifference / timeDifferences);
      return sorted.map((item, index) => {
        let gap = item.gap;
        if (!gap) {
          const currentTime = item.time;
          const nextTime = sorted[index + 1]?.time;
          if (!isNaN(currentTime) && !isNaN(nextTime)) {
            const difference = currentTime - nextTime;
            gap = Math.abs(difference / averageDifference);
          }

          if (!gap) gap = 0;
        }

        return {
          ...item,
          active: active.value[index],
          id: `timeline-item-${index}`,
          gap
        }
      });
    });

    return {
      loopNumber,
      sortedItems,
      active,
      elements
    }
  }
}
</script>

<style lang="scss" scoped>
@keyframes draw-line {
  25% {
    filter: none;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: none;
    filter: none;
    opacity: 1;
  }
}
.timeline {
  --timeline-intial-transform: translateY(-2rem);

  width: 90%;
  max-width: 800px;
  padding-left: 0;
  padding: 1rem 0 3rem;

  &__list {
    --timeline-gap: 3rem;
    --timeline-item-padding: 0.75rem;

    list-style: none;
    padding-left: 0;
    margin: 0;

    @media not screen and (min-width: 768px) {
      > li {
        + li {
          margin-top: var(--timeline-gap);
        }
      }
    }

    @media (min-width: 768px) {
      --timeline-line-width: 4px;

      gap: var(--timeline-gap);
      display: grid;
      grid-template-columns: 1fr var(--timeline-line-width) 1fr;
      grid-template-rows: repeat(var(--items), auto);

      &::before {
        content: '';
        width: 100%;
        height: calc(100% + 4rem);
        background-color: var(--cyber-color);
        grid-column: 2;
        grid-row: 1 / -1;
        margin-top: -2rem;
        opacity: 0;
        filter: blur(5px);
        transform: scaleY(0);
        transform-origin: top center;
        animation: draw-line calc(var(--animation-interval) * 3) forwards ease-in;
        box-shadow: var(--glow);
        border-radius: var(--timeline-line-width);
      }

      > li {
        --timeline-initial-transform: translateX(10%);
        --connector-offset: calc(100% + var(--timeline-item-padding) + 1px);
        --connector-right: auto;
        --connector-left: var(--connector-offset);
        --connector-origin: center left;

        grid-column: 1;
        margin: 0;
        grid-row: calc(var(--index) + 1);
        min-height: calc(var(--gap) * var(--timeline-gap) * 2);

        &:nth-child(even) {
          --connector-left: auto;
          --connector-right: var(--connector-offset);
          --connector-origin: center right;

          grid-column: 3;
        }

        &:nth-child(odd) {
          --timeline-initial-transform: translateX(-10%);
        }
      }
    }
  }

  > h2 {
    margin: 0;
    margin-bottom: 3em;
    animation: fade-in var(--animation-interval) calc(var(--animation-interval) * 4) forwards;
    opacity: 0;

    code {
      opacity: 0;
      animation: fade-in var(--animation-interval) calc(var(--animation-interval) * 5) forwards;
    }
  }
}
</style>