<template>
  <span
    :class="classes"
    ref="el"
    @mouseenter="handleHover(true)"
    @mouseleave="handleHover(false)"
  >
    <button class="tooltip__trigger"
      :style="buttonStyles"
      :aria-controls="id"
      :aria-expanded="active"
      :id="`${id}-toggle`"
      @click="setState(!active)"
    >
      {{ text }}
    </button>
    <div
      class="tooltip__body"
      :id="id"
      :aria-hidden="!active"
      :aria-labelledby="`${id}-toggle`"
      :style="bodyStyles"
      tabindex="-1"
      @click="setState(true)"
      @focusin="setState(true)"
    >
      <div class="tooltip__content" v-if="notes && (hovered || active)">
        <h3 v-if="!note.nameMatch">{{ note.name }}</h3>
        <ul>
          <li v-for="note, index in note.notes"
            :key="`${id}-${index}`">
            <TextWithTooltips
              v-if="note"
              :text="note"
              :id="`${id}-${index}`"
              :ignore="[name, ...ignore]" />
          </li>
        </ul>
      </div>
      <div class="tooltip__content" v-else-if="hovered || active">
        <slot />
      </div>
    </div>
  </span>
</template>

<script>
import { ref, computed, defineAsyncComponent, onMounted, onUnmounted, watch } from 'vue'
import { getNote, normalizeName } from '../data/notes'
import types from '../data/data/types'

export default {
  props: {
    name: String,
    id: String,
    text: String,
    bodyWidth: String,
    notes: {
      type: Boolean,
      default: true
    },
    ignore: {
      type: Array,
      default() {
        return []
      }
    }
  },
  components: {
    TextWithTooltips: defineAsyncComponent(() => import('./TextWithTooltips'))
  },
  setup(props, { emit }) {
    const active = ref(false);
    const el = ref(null);
    const hovered = ref(false);
    const setState = newState => active.value = newState;

    const note = computed(() => {
      if (!props.notes) {
        return {
          name: props.name,
          type: types.value.CONCEPT
        }
      }
      const note = getNote(props.name);
      return {
        ...note,
        nameMatch: normalizeName(props.name) === normalizeName(note.name)
      };
    });

    const classes = computed(() => {
      return [
        'tooltip',
        `tooltip--${note.value.type.name}`,
        active.value ? 'tooltip--active' : 'tooltip--not-active'
      ]
    });

    const buttonStyles = computed(() => {
      return {
        '--button-hover-color': note.value.color || note.value.type.color
      };
    });

    const bodyStyles = computed(() => {
      return {
        '--width': props.bodyWidth
      }
    });

    const handleHover = newState => {
      hovered.value = newState;
    };

    const handleClickOutside = event => {
      if (!el.value.contains(event.target)) active.value = false;
    };

    watch([active, hovered], ([newActive, newHovered]) => {
      emit('tooltip-state', props.name, newActive || newHovered);
    });

    onMounted(() => {
      document.addEventListener('click', handleClickOutside);
    });

    onUnmounted(() => {
      document.removeEventListener('click', handleClickOutside);
    });

    return {
      el,
      classes,
      bodyStyles,
      buttonStyles,
      note,
      handleHover,
      hovered,
      setState,
      active
    }
  }
}
</script>

<style scoped lang="scss">
.tooltip {
  $block: &;

  --arrow-size: 1em;
  --border-width: 1px;
  --background-color: var(--tooltip-background-color, var(--cyber-color));
  --button-color: var(--background-color);
  --border-color: white;
  --text-color: var(--tooltip-text-color, var(--screen-color));

  position: relative;

  ::selection {
    background-color: var(--trim-color);
  }

  &__trigger {
    background-color: var(--background-color);
    box-shadow: var(--glow-size) var(--background-color);
  }

  &:hover,
  &--active {
    z-index: 100;

    > #{$block}__trigger {
      --background-color: var(--button-hover-color);
    }

    > #{$block}__body {
      display: block;
      pointer-events: auto;
      filter: none;
      transform: none;
      opacity: 1;
      visibility: visible;
      z-index: 100;
    }
  }

  &__body {
    --width: 200px;
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    top: 100%;
    left: calc(50% - (var(--width) / 2));
    width: var(--width);
    font-size: 0.8rem;
    margin-top: var(--arrow-size);
    border-radius: 4px;
    z-index: 0;
    opacity: 0;
    transform: translateY(calc(-2 * var(--arrow-size)));
    filter: blur(5px);
    transition: calc(var(--animation-interval) / 2);

    @media (min-width: 768px) {
      --width: 360px;

      font-size: 0.9rem;
    }

    &::before,
    &::after {
      --size: var(--arrow-size);
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      margin: auto;
      width: var(--size);
      height: var(--size);
      transform: scaleX(0.8) translateY(50%) rotate(45deg);
      background-color: var(--background-color);
      blur: inherit;
      transition: inherit;
    }

    &::before {
      --size: calc(var(--arrow-size) + var(--border-width) * 2);
      background-color: var(--border-color);
      z-index: -1;
      box-shadow: inherit;
    }

    &::after {
      z-index: 2;
    }

    button {
      border: 1px solid rgba(white, 0.5);
    }

    li {
      + li {
        padding-top: 1em;
        margin-top: 1em;
        border-top: 1px solid rgba(white, 0.25);
      }
    }
  }

  &__content {
    background-color: var(--background-color);
    color: var(--text-color);
    text-shadow: none;
    box-shadow: var(--glow-size) var(--background-color);
    border: var(--border-width) solid var(--border-color);
    padding: 0.5em;
    position: relative;
    z-index: 0;
    border-radius: 4px;

    @media (min-width: 768px) {
      padding: 1em;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: var(--arrow-size);
    }

    > h3 {
      margin-top: 0;
    }

    > ul {
      list-style: none;
      padding-left: 0;
    }
  }
}
</style>