<template>
  <template v-if="isCurrentView(views.STARTUP)">
    <button @click="booting = true" v-if="!booting" class="boot">Boot</button>
    <StartUp
      v-else
      @end="handleStartupEnd"
    />
    <audio :src="boot" preload="auto" />
  </template>
  <template v-else>
    <div class="intro">
      <h1>ArrOS Browser v1.6.12</h1>
      <p>
        Good {{ currentTimeOfDayName }}, TM-5351.<br>
        The
        <Tooltip
          id="edit-time-tooltip"
          text="current time"
          name="current time"
          body-width="150px"
          :notes="false"
        >
          <EditTime
            v-model="present.time"
            id="edit-current-time"
            label="Current Time:"
          />
        </Tooltip>
        is {{ displayTime(currentTimeOfDay) }}, Day {{ currentDay }}.
      </p>
      <p>Currently viewing: <code>{{ currentView.name }}.ard</code></p>
      <Navigation v-model="currentView" :views="views" />
      <label>
        <input type="checkbox" v-model="skipStartup" />
        Enable Fast Startup
      </label>
    </div>
    <Timeline v-if="isCurrentView(views.TIMELINE)" />
    <Notes v-else-if="isCurrentView(views.NOTES)" />
    <Clock v-else-if="isCurrentView(views.CLOCK)" />
    <Music v-else-if="isCurrentView(views.MUSIC)" />
  </template>
  <BootMusic v-if="booting" @ended="booting = false" />
</template>

<script>
import { ref } from 'vue';
import { views, currentView, skipStartup, defaultView, isCurrentView } from './data/views';
import Navigation from './components/Navigation'
import StartUp from './components/StartUp'
import Timeline from './components/Timeline'
import Tooltip from './components/Tooltip'
import EditTime from './components/EditTime'
import Music from './components/Music'
import Clock from './components/Clock'
import Notes from './components/Notes'
import BootMusic from './components/BootMusic'
import boot from './assets/boot.mp3'
import displayTime from './util/display-time'
import { currentTimeOfDayName, currentTimeOfDay, currentDay, present } from './data/timeline'

export default {
  name: 'App',
  components: {
    StartUp,
    Timeline,
    Navigation,
    Music,
    Notes,
    BootMusic,
    Tooltip,
    EditTime,
    Clock
  },
  setup() {
    const handleStartupEnd = () => {
      currentView.value = defaultView
    };
    const booting = ref(false);

    return {
      currentTimeOfDayName,
      currentTimeOfDay,
      currentDay,
      displayTime,
      present,
      views,
      currentView,
      handleStartupEnd,
      skipStartup,
      isCurrentView,
      booting,
      boot
    }
  }
}
</script>

<style lang="scss">
@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    filter: none;
    transform: none;
  }
}

:root {
  --cyber-color: #5AD6FF;
  --screen-color: #322833;
  --fur-color: #dc974d;
  --shirt-color: #DC504D;
  --trim-color: #DADC4D;
  --emerald-color: #5aff83;
  --console-font: Fira mono, monospace;
  --glow-size: 0 0 0.5em;
  --glow-color: currentColor;
  --glow: var(--glow-size) var(--glow-color);
  --button-color: var(--cyber-color);
  --button-hover-color: var(--trim-color);
  --animation-interval: 0.4s;
  --link-hover-color: var(--fur-color);

  background-color: var(--screen-color);
  color: var(--cyber-color);
  font-family: var(--console-font);
  text-shadow: var(--glow);
  line-height: 1.6;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
  accent-color: var(--cyber-color);
}

::selection {
  background-color: var(--cyber-color);
  color: var(--screen-color);
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

body {
  --scanline-size: 2px;

  background-image: linear-gradient(
    to bottom,
    transparent var(--scanline-size),
    rgba(white, 0.025) var(--scanline-size)
  );
  background-size: 100% calc(var(--scanline-size) * 2);
  background-repeat: repeat;

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: 0 0 20vmax rgba(#5AD6FF, 0.1) inset;
  }
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

code,
button {
  font-family: inherit;
  padding: 0.1em 0.25em;
  border: 1px solid currentColor;
  box-shadow: var(--glow-size);
  padding: 0.1em 0.25em;
  border-radius: 4px;
}

a {
  color: inherit;
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    color: var(--link-hover-color);
    text-shadow: 0 0 1em currentColor;
  }
}

button {
  cursor: pointer;
  color: var(--button-text-color, var(--screen-color));
  background-color: var(--button-color);
  box-shadow: var(--glow-size) var(--button-color);
  font-size: 0.9em;
  border-color: rgba(white, 0.5);
  text-shadow: none;
  transition: 0.2s;

  &:hover,
  &:focus-visible,
  &.active {
    background-color: var(--button-hover-color);
    box-shadow: var(--glow-size) var(--button-hover-color);
  }
}

label {
  cursor: pointer;
}

.intro {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fade-in forwards var(--animation-interval);

  p {
    margin: 0;
    margin-bottom: 0.5em;
  }
}

.screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.boot {
  font-size: 3rem;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
</style>
